---
layout: layouts/home.njk
eleventyNavigation:
  key: Gallery
  order: 5
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Recent Work</h1>
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

<h2>Shows</h2>
<h3>Sleep Debtor</h3>
{% set postslist = collections['sleep debtor'] | head(-3) %}
{% set postslistCounter = collections.sleepDebtor | length %}
{% include "postslist.njk" %}

<h3>" PARTS INSIDE "</h3>
{% set postslist = collections['parts inside'] | head(-3) %}
{% set postslistCounter = collections.partsInside | length %}
{% include "postslist.njk" %}

<h2>Other work</h2>
<h3>Analog</h3>
{% set postslist = collections.analog | head(-3) %}
{% set postslistCounter = collections.analog | length %}
{% include "postslist.njk" %}

<h3>Digital</h3>
{% set postslist = collections.digital | head(-3) %}
{% set postslistCounter = collections.digital | length %}
{% include "postslist.njk" %}

{# <p>More art can be found in <a href="{{ '/art/' | url }}">the archive</a>.</p> #}
