---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{# {% set maxPosts = collections.posts.length | min(3) %} #}
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

{# can change "posts" to a different tag #}
{# {% set postslist = collections.posts | head(-3) %} #}
{# {% set postslistCounter = collections.posts | length %} #}
{# {% include "postslist.njk" %} #}

{# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
<h1>Home</h1>

Range-rover marketing pistol-space computer San Francisco silent plastic dead sensory bomb monofilament futurity girl drone shanty town youtube. Shanty town franchise knife claymore mine fetishism katana girl euro-pop spook. Wonton soup neural disposable bicycle neon corporation singularity digital knife sentient bridge hotdog apophenia wristwatch franchise.