---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 6
---
{% set maxPosts = collections.posts.length | min(3) %}
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

{# can change "posts" to a different tag #}
{% set postslist = collections.projects | head(-3) %}
{% set postslistCounter = collections.projects | length %}
{% include "postslist.njk" %}

{# <p>More writing can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
